#----------------------------------------------
# File generatore by Ansible – {{ ansible_facts["date_time"]["iso8601"] }}
# ---------------------------------------------
{# It is the master ntp server #}
{# Proposed by Gemini #}
server {{ ansible_facts["default_ipv4"]["address"] }} iburst
 pool {{ pool_ntp_server }}

{# Yanked from a personnal ressource #}
driftfile /var/lib/chrony/drift
makestep 1.0 3
rtcsync
keyfile /etc/chrony.keys
ntsdumpdir /var/lib chrony
leapsectz right/UTC
logdir /var/log/chrony
allow {{ submask }}

{# {% if chrony_allow_subnet is defined and chrony_allow_subnet|lenght > 0 %} #}
{#   {% for subnet in chrony_allow_subnet %} #}
{#     allow{{ subnet }} #}
{#   {% endfor %} #}
{# {% endif %} #}
