[defaults]
ask_pass= True
private_key_file= ~/.ssh/id_hadrienserv3
# Path things
roles_path=./roles:/usr/share/ansible/roles:~/INFOR/INFRA/ANSIBLE/ROLES
inventory= ~/INFOR/INFRA/ANSIBLE/INVENTORIES/inventory.yaml

[inventory]
enable_plugins = yaml, ini
